<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <p>
    <%= user.uid %>  | 
    <%= user.pass %>  | 
    <%= link_to "削除", user_path(user), data: { turbo_method: :delete, confirm: "本当に削除しますか？" } %>
  </p>
<% end %>

<%= link_to "新規ユーザー登録", new_user_path %>

<%= link_to "トップ画面", top_main_path %>
